@font-face {
    font-family: 'Garet';
    src: url(/src/assets/fonts/garet/Garet-Book.otf);
    src: url(/src/assets/fonts/garet/Garet-Book.ttf)
}

@font-face {
    font-family: 'Garet-heavy';
    src: url(/src/assets/fonts/garet/Garet-Heavy.otf);
    src: url(/src/assets/fonts/garet/Garet-Heavy.ttf)
}