
@import "_fonts";
@import "_colors";

body {
    background-color: $backgroundColor;
}

.navbar{
    border-top: solid $hoverColor 2px ;
    border-bottom: solid $hoverColor 2px ;


    .nav{
        .nav-link {
            color: $textColor;
            font-size: 130%;
            font-family: "Garet";
            transition: 1s;

            &:hover{
                color: $hoverColor;
                font-family: "Garet-heavy";
                transform: scale(1.2,1.2);
            }
        }
    
    }
}
.car{
    color: $textColor;
    display: flex;
    flex-direction: row;
    margin-left: 40px;

    &:hover {
        color:$hoverColor;
    }
    }

.mensaje {
    color:$hoverColor;
    font-family: "Garet-heavy";
    font-size: 140%;
    padding: 5%;
    text-decoration: underline 4px $textColor;
}