
@import "_fonts";
@import "_colors";

body {
    background-color: $backgroundColor;
}


.navbar{
    border-top: solid $hoverColor 2px ;
    border-bottom: solid $hoverColor 2px ;
    background-color: $backgroundColor;


    .nav{

        .nav-link {
            color: $textColor;
            font-size: 130%;
            font-family: "Garet";
            transition: 1s;

            &:hover{
                color: $hoverColor;
                font-family: "Garet-heavy";
                transform: scale(1.2,1.2);
            }
        }
        
.dropdown{

    .dropdown-menu{
        background-color: $hoverColor;
    .dropdown-item{
                background-color: $hoverColor;
                font-family: "Garet";
                color: $textColor;
                transition: 2.5s;

                &:hover{
                    color:$backgroundColor;
                    font-family: "Garet-heavy";
                }

            }
        }
    
    }
}
}
.car{
    color: $textColor;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    font-family: "Garet";
    font-size: 110%;

    &:hover {
        color:$hoverColor;
    }
    }

.mensaje {
    color:$hoverColor;
    font-family: "Garet-heavy";
    font-size: 140%;
    padding: 5%;
    text-decoration: underline 4px $textColor;
}

.card-list{
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;




    .link-details{
        text-decoration: none;
        color: $textColor;
    }

    .card-group{
            height: 100%;
            margin: 2%;
            padding: 2%;
            
        .card{
            background-color: $hoverColor;
            transition: 1s;

            &:hover{
                box-shadow: inset  0 0 40px 40px #caa597 ;
        }
        .card-title{
            font-family: "Garet-heavy";
            color:$textColor;
            font-size: 150%;
        }
        .card-text{
            font-family: "Garet";
            margin: 0%;
            font-size: 120%;
        }

        }
    
        .card-footer{
            .button{

                .btn{
                    background-color: $textColor;
                    color: $hoverColor;
                    text-align: center;
                }

                h5{
                    display: flex;
                    align-self: end;
                    font-family: "Garet";
                }
            } 
        }
    }

}

.card-detail{
    @extend .card-list;

    display: flex;
    justify-content: center;
        .img{
    pointer-events: none;}
    
}